<h2>About Jay</h2>
<p>Jay is a proven driver of integrating cloud automation, big data, and predictive analytics into reliable, scalable solutions. He enjoys cloud architecture, data science, driving adoption of solutions, and people development.</p>
<br />
<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/jay-silverman-82776619/">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/Jason_Silverman">Twitter</a>
  </li>
</ul>
