<h2>About Jay</h2>
<p>Proven driver of integrating cloud automation, machine learning models, and automated decisions into day-to-day business processes. Personally skilled in cloud architecture, data visualization, and machine learning. Passionate about people development and people leadership.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/jay-silverman-82776619/">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/Jason_Silverman">Twitter</a>
  </li>
</ul>
